@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --main-color: #195D7B;
  --nav-color: #2BA1D4;
  font-family: 'Open Sans';
}

body {
  padding: 0;
  margin: 0 auto;
  max-width: 1000px;
}

h1, strong {
  color: var(--main-color);
}

a {
  color: var(--main-color);
}

header {
  text-align: center;
}

header > img {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section {
  margin-left: 10px;
  margin-right: 10px;
}

main {
  padding-bottom: 20px;
}

.img-section {
  margin-left: 0;
}

.img-section > p {
  text-align: center;
}

.img-section > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  max-height: 90vh;
  max-width: 70vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.photo-grid > div {
  margin-top: 10px;
  width: 30%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.photo-grid > div > img {
  width: 100%;
}
.photo-grid > div > div {
  padding-left: 10px;
}

table {
  border-spacing: 0;
}

th {
  text-align: left;
}

th, td {
  border-bottom: 1px solid var(--main-color);
  padding: 10px;
}

#education h4, #experience > h3 {
  display: inline;
}

@media (max-width:414px) {
  .photo-grid > div {
    width: 100%;
  }
}
