@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --main-color: rgb(40, 147, 193);
  font-family: 'Open Sans';
}

body {
  padding: 0;
  margin: 0;
}

h1, strong {
  color: var(--main-color);
}

a {
  color: var(--main-color);
}

header {
  text-align: center;
}

header > img {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section {
  margin-left: 10px;
  margin-right: 10px;
}

main {
  padding-bottom: 20px;
}

.img-section {
  margin-left: 0;
}

.img-section > p {
  text-align: center;
}

.img-section > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  max-height: 90vh;
  max-width: 70vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

.navigation-list > li {
  float: left;
}

.navigation-list > li > a {
  display: block;
  text-align: center;
  padding: 16px;
}

#experience > h3 {
  display: inline;
}